body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    width: 100%;
    border-bottom: 0.2px solid #d9d9d9;
}

.sticky {
    position: sticky;
    top: 0;
    background-color: white; /* Ensure the background color to avoid transparency issues */
    z-index: 1000; /* Ensure it stays on top */
}

.navbar {
    width: 1170px; /* Set a fixed width for the navbar */
    margin: 0 auto; /* Center the navbar */
    height: 94px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-div img {
    max-width: 100%;
    height: auto;
}

.search-bar-div {
    position: relative;
}

.search-bar {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 14px;
    width: 550px;
    height: 40px;
    padding-right: 40px; /* Space for the button inside the input */
}

.search-bar input {
    flex: 1;
    padding: 8px 14px;
    border: none;
    border-radius: 14px;
    outline: none;
    font-size: 14px;
    box-sizing: border-box;
}

.search-button {
    position: absolute;
    top: 3px;
    right: 4px;
    width: 32px;
    height: 32px;
    background-color: #FF9130;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-icon {
    width: 13px;
    height: 13px;
    background-image: url(/assets/img/search2.svg);
}
.icons-control-div {
    display: flex;
    align-items: center;
}
.control-elem{
    width: 279px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.elem{
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.elem-text{
    font-size: 10px;
    width: max-content;
}

.links:hover{
    color: #FF9130;
}

.aaaa{
    background-image: url(cart.svg);
    width: 24px;
    height: 24px;
}
footer{
    width: 100%;
    height: max-content;
    margin-top: 100px;
    background-color: black;
    color: white;
    border-bottom: 1px solid #d7d7d7;
}

.footer {
    padding: 80px 0 60px 0 !important;
    width: 1170px; /* Set a fixed width for the navbar */
    margin: 0 auto; /* Center the navbar */
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.subscribe-panel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.footer-text p{
    margin-top: 16px;
}
.footer-text a{
    margin-top: 16px;
}

.footer-text{
    display: flex;
    flex-direction: column;
}
.copyrights{
    width: 1170px;
    height: 52px;
    background-color: rgb(9, 9, 9);
    border-top: 1px solid #d7d7d7;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d9d9d9;
}
